.about-container{
    padding: 10px;
}
.about-text-wrapper{
    margin-left: 70px;
}
.about-card-contaoner{
    display: flex;
    margin: 26px 70px;
    padding: 20px;
    border: 1px solid rgb(180, 176, 176);
    border-radius: 8px;
}
.about-card-contaoner img{
    height: 160px;
}
.content{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.content h3{
    font-size: 20px;
}

.content p{
    color: gray;
    max-width: 600px;
}
.abt-btn{
    width: 80px;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #9b9797;
}

@media(max-width:560px){
    .about-card-contaoner{
        flex-direction: column;
    }
    .content{
        margin: 0;
    }
    .content>h3{
        margin-top: 10px;
    }
}

@media(max-width:900px) {
    .about-container{
        padding: 0;
    }
    .about-text-wrapper{
        margin-left: 58px;
    }
    .about-card-contaoner{
        margin: 24px 56px;
    }
}


@media (max-width:745px) {
    .about-text-wrapper{
        margin-left: 40px;
    }
    .about-card-contaoner{
        margin: 24px 36px;
    }
}